body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #5c5470; 
}
.nav-bar{
  
    background: #dbd8e3; 
    margin-top: 0%;
    padding: 5px;
    text-align: center;
}

.container {
   margin-top: 0%;   /* background: #403d4aa4;  */
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;

}
.top-img{
 display: flex;
 justify-content: center;
 align-items: center;


}
input{
    padding:10px;
    border: solid 1px #a0fe6ea4;
    background: #403d4aa4; 
    color: rgb(254, 255, 255);
    border-radius: 10px;
    margin: 3px;
}




.id-card-inputs{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background: #dbd8e3; 
    flex-wrap: wrap;
    border: #5c5470 solid 1px;
    border-radius: 10px
}
.btn{
    text-align: center;
}

.generate-btn{
    margin-top: 40px;
    padding: 15px 60px;
    border-radius: 10px;
    border: none;
    background: #ff7e67; 
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.generated-id-card{
    background: #35495e; 
    color: white;
    
   
    max-width: 400px;
    min-height:400px;
    margin: 10px auto;
   padding: 10px;
   border: none;
   border-radius: 20px;
}
.generated-id-card-container{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}
.generate-img{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  background: #347474; 
  padding:5px 10px;
  border-radius: 10px;
  
}
/* .generated-id-card-details{
    margin-top: 40px;
} */
